<h1>Secrets</h1>
<% @secrets.each do |secret| %>
  <p><%= secret.content %> | <%= secret.likes.count %> likes |
  <% if @user.secrets_liked.exists?(secret.id) %>
    <a href="/likes/<%= secret.id %>" data-method="delete">Unlike</a>
  <% else %>
    <a href="/likes/<%= secret.id %>" data-method="post">Like</a>
  <% end %>
  <% if current_user == secret.user %>
    | <a href="/secrets/<%= secret.id %>/delete" data-method="delete">Delete</a></p>
  <% end %>
<% end %>
