<!DOCTYPE html>
<html>
  <head>
    <title>Secrets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> <a href="/sessions/destroy" data-method="delete">Logout</a>
      |
      <a href="/users/<%=current_user.id%>">Profile Page</a>
      |
      <a href="/secrets">HOME!</a>
    </header>
  	<% if flash[:notice]%>
			<% flash[:notice].each do |message|%>
				<p><%= message %></p>
			<% end %>
		<% end %>
    <%= yield %>
    <%= console %>
  </body>
</html>
