<h1><%= @user.name %></h1>

<form action= "/secrets/create" method ="post">
<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
<p>New Secret</p>
<textarea rows=5 cols="10" name="secret"> </textarea>
<input type="submit" value = "create secret">
</form>

<h3> My Secrets </h3>
<% current_user.secrets.each do |secret| %>
  <p> <%= secret.content %>
    <a href="/secrets/<%= secret.id %>/destroy">Delete Secret!</a>
  </p>
  <p><span><%= secret.likes.count%> Likes</span></p>
<% end %>

<h3> Secrets Liked </h3>
<% current_user.secrets_liked.each do |liked| %>
<p> <span><%= liked.content %></span> | <span><%= liked.likes.count%></span> </p>
<% end %>
