<h1>Edit event | <%= @event.name %></h1>
<form action="/events/<%= @event.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="event[name]" value="<%= @event.name %>"></p>
  <p>Date: <input type="date" name="event[date]" value="<%= @event.date.strftime("%B/%e/%Y") %>"></p>
  <p>Location: <input type="text" name="event[city]" value="<%= @event.city %>"></p>
  <input type="submit" value="Update">
</form>
